<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.npiapp">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Npiapp">
        <activity
            android:name=".FingerPrint"
            android:exported="true"
            android:parentActivityName=".CanteenMenuCreator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.npiapp.CanteenMenuCreator"/>
        </activity>
        <activity
            android:name=".CanteenMenuCreator"
            android:exported="true" />
        <activity
            android:name=".CanteenMenu"
            android:exported="true"
            android:label="@string/canteen_menu_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Guidance"
            android:exported="true"
            android:label="@string/guidance_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PanoramaController"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>